<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="restaurant-outline"></ion-icon>
      <span></span>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="compass-outline"></ion-icon>
      <span></span>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="heart-outline"></ion-icon>
      <span></span>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <span></span>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>